
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/product-list']" routerLinkActive="$router_link-active$">Product List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Add Product</a>
      </li>

    </ul>

  </div>
</nav>
<router-outlet></router-outlet>
